@font-face {
  font-family: Outfit;
  src: url(../assets/fonts/Outfit-Regular.ttf);
  /* This ensures that if the custom font isn't loaded yet, swap/replace with the system font */
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, "Gill Sans", Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000;
  color: aliceblue;
  font-size: 1.3em;
}

/* CARD STYLING */
.card {
  background-color: #000;
  border: 2px solid gray;
  border-radius: 15px;
  width: 18rem;
}

#dialog {
  position: absolute;
  background-color: #000;
  color: aliceblue;
}

#dialog > b {
  font-size: 1.7rem;
}

#dialog > img {
  margin-bottom: -70px;
}

#doneBtn {
  display: none;
}
.btn {
  background-color: #90ee90;
}

.card-title > b,
.card-text > b,
#champTxt,
#p1 > b {
  color: lightgreen;
}
