:root {
  --red: #ee3534;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, "Gill Sans", Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--black);
  font-size: 1.3em;
}

/* CARD STYLING */
.card {
  color: aliceblue;
  background-color: var(--black);
  border: 2px solid gray;
  border-radius: 15px;
}

#dialog {
  position: absolute;
  background-color: var(--black);
  color: aliceblue;
}

#dialog > b {
  font-size: 1.7rem;
}

#dialog > img {
  margin-bottom: -70px;
}

#doneBtn {
  display: none;
}
.btn {
  background-color: #90ee90;
}

.card-title > b,
.card-text > b,
#champTxt,
#p1 > b {
  color: lightgreen;
}
